.account {
  text-align: center;
}

.title {
  padding-right: 25px;
}

.changeInput {
  margin-top: 60px;
}

.input {
  margin-bottom: 30px;
}

.btn {
  font-weight: 10px;
  padding: 10px;
  border-radius: 20px;
  color: white;
  background-color: rgb(71, 173, 231);
}