.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


/*Tweet Input Box*/
.tweet-form {
  background-color: #e8f5fd;
  margin-top: 2em;
  padding: 3em;
  width: 50%;
  margin: auto;
  border-radius: 25px;
  display: flex; 
  flex-direction: column;
  align-items: center
}

.tweet-input-box {
  transition: all .2s ease-in-out;
  max-height: 36px;
  min-height: 36px;
  max-width: 40em;
  min-width: 40em;
  border-radius: 15px;
  border: 1px solid #a4d9f8;
  padding: 10px 12px;
  background-color: #f2f2f2;
}

.tweet-input-box + input {
  transition: all .2s ease-in;
  visibility: hidden;
  color: white;
  background-color: #1da1f2;
  border-radius: 15px;
  padding: .75em;
  margin-top: 1em;
  margin-left: 44%;
  display: block;
}

.tweedle-button {
  color: white;
  background-color: #1da1f2;
  border-radius: 15px;
  width: 7em; 
  margin: 5px;
  display: flex; 
  justify-content: center; 
}

.tweet-input-box::placeholder {
  color: #1da1f2;
}

.tweet-input-box:hover {
  background-color: #e8e8e8;
}